{% load static main %}
<!-- the comment box -->
<div class="well">
  <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
  <form role="form" id="commentForm" method="post" action="{% url 'blog:comment-list' %}">
     <div id="emailGroup">
      <input type="email" name="author" placeholder="Your email" class="form-control">
    </div>
<hr>
    <div class="form-group">
      <textarea class="form-control" rows="3" name="content"></textarea>

    </div>


      <input type="hidden" name="article" value="{{ id }}">


    <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
  </form>
</div>
<hr>

	<div class="row">
	<!-- Contenedor Principal -->
    <div class="comments-container">
		<h1>Comments ({{ comments_count }})</h1>

		<ul id="comments-list" class="comments-list">
      {% for comment in comments %}
			<li>
				<div class="comment-main-level">
					<!-- Avatar -->
					<div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author"><a href="http://creaticode.com/blog">{{ comment.author }}</a></h6>
							<span>{{ comment.updated | date_time }}</span>
							<i class="fa fa-reply"></i>

                <i class="fa fa-heart commentLike" data-href="{% url 'actions:like_dislike' %}"  data-type="comment"
                data-id="{{ comment.id }}"></i>
						</div>
						<div class="comment-content">
              {{ comment.content }}

						</div>
					</div>
				</div>
				<!-- Respuestas de los comentarios -->

			</li>
      {% endfor %}
		</ul>
	</div>
	</div>
