{% extends "userprofile/base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'userprofile/css/users.css' %}" rel="stylesheet">
{% endblock head %}

{% block container %}



<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
          {% for user in users %}
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{ user.image }}" alt="card image"></p>
                                    <h4 class="card-title">{{ user.full_name }}</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">
                                      <a href="{% url 'userprofile:user_by_id' user.id %}">View profile</a>

                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" >
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" >
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" >
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                   <a data-id="{{ user.id }}"  data-href="{% url 'actions:follow' %}" class="btn btn-primary btn-sm followButton"><i class="fa fa-plus"></i>Follow</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
           {% endfor %}

        </div>
    </div>
</section>
<!-- Team -->

{% endblock container %}
{% block jquery %}
$.getScript('{% static 'userprofile/js/follow.js' %}');
{% endblock %}
