{% extends "blog/base.html" %}
{% load static main i18n %}

{% block head %}
<link href="{% static 'blog/css/comments.css' %}" rel="stylesheet">
{% endblock head %}

{% block container %}
<div class="row">
  <div class="col-lg-8">

    <!-- the actual blog post: title/author/date/content -->
    <h1><a href="">{{ title }}</a></h1>
    <p class="lead"><i class="fa fa-user"></i> by <a href="">{{ author.full_name }}</a>
    </p>
    <ul>
      <li id="like_article" data-id="{{ id }}" data-type="article" data-action="like" title="{% trans 'Like' %}"
      data-href="{% url 'actions:like_dislike' %}">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <span data-count="like" id="articleLikeCount"> {{ likes }}</span>
      </li>
      <li id="dislike_article" data-id="{{ id }}" data-type="article" data-action="dislike" title="{% trans 'Dislike' %}"
      data-href="{% url 'actions:like_dislike' %}">
        <span class="glyphicon glyphicon-thumbs-down"></span>
        <span data-count="dislike" id="articleDislikeCount"> {{ dislikes }}</span>
      </li>
    </ul>
    <hr>
    <p><i class="fa fa-calendar"></i></p>
    <p><i class="fa fa-tags"></i> Tags: <a href=""><span class="badge badge-info">Bootstrap</span></a> <a
      href=""><span class="badge badge-info">Web</span></a> <a href=""><span class="badge badge-info">CSS</span></a>
      <a href=""><span class="badge badge-info">HTML</span></a></p>

    <hr>
    <img src="http://placehold.it/900x300" class="img-responsive">
    <hr>
    <p class="lead">Welcome to Bootstrap Blog Template! This is a blog template example, built with Bootstrap.
      Contains "tools" that would be needed in a post.</p>
    <br/>

    <br/>
    <div style="text-align: center;"><p><strong>Embed Youtube player:</strong></div>


    <br/>


    <div class="g-plusone" data-annotation="inline" data-width="300" data-href=""></div>

    <br/>
    <hr>
    <!-- the comment box -->
    {% include 'blog/includes/comments.html' %}
  </div>

  {% include 'blog/includes/right_sidebar.html' %}
</div>
{% endblock container %}


{% block jquery %}
$.getScript('{% static 'blog/js/detail.js' %}');
$.getScript('{% static 'actions/js/likes.js' %}');
{% endblock %}

